/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.3rem;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Estilo especifico:*/

body {
	background-image: url(codigo.jpg);
	font-family: 'Urbanist',sans-serif;
	--azul: rgb(0, 0, 0);
	--claro:rgb(229, 229, 227);
	--naranja:rgb(0, 0, 0);
	background-color:var(--azul)

}

h1 {
	font-size: 2.3rem;
	padding: 2rem 0rem 0.5rem 1.3rem;
	color:var(--claro);
	
}

h2{
	font-size: 1.2rem;
	
}

a{
	text-decoration: none;
	color: var(--claro);
}

a:active {
	text-decoration: none;
	color: rgb(247, 243, 237);
}

a:hover{
	color: rgb(191, 38, 160);
}

.smallSub{
	font-size: 0.8rem;
}

main{
	padding: 2rem 3rem 4rem 6rem;
	width: 70%;
	font-size: 0.9rem;
	

}


.todomain{

box-shadow: -0.5rem -0.5rem rgb(191, 38, 160);
border: 0.5rem solid rgb(255, 255, 255);

}

.arriba{
	background-color: var(--naranja);
	color: var(--claro);
	font-size: 0.8rem;
	display: flex;
	gap: 1.9rem;
	padding: 1.3rem;
	justify-content: space-between;
	
}

.contenidoAbout{
	display: flex;
	gap: 1.5rem;
	padding-top: 1rem;
	
}

.checks {
	color: rgb(191, 38, 160);
	font-size: 0.8rem;
	display: flex;
	gap: 1rem;
	
}

.check {
	font-size: 1.3rem;
}

.about{
	background-color:var(--claro);
	padding: 1.5rem;
}

.formacion{
	background-color:rgb(237, 237, 238);
	padding: 1.5rem;
}

.experiencia{
	background-color: var(--claro);
	padding: 1.5rem;
}


@media (max-width: 870px) {



		main{
			width: 80%;
		}

		.datosContacto{
			grid-area: contacto;
		}

		.enlaces{
			grid-area:enlaces;
		}

		.lenguajes{
			grid-area: lenguajes;
		}

		.arriba{
			display: grid;
			grid-gap: 1rem;
		/* grid-template-columns: 120px  120px  120px;*/
			grid-template-areas:
					" contacto  enlaces ......."
					"lenguajes ....... .......";
		}

		.checks {
		
			display: flex;
			flex-direction: column;
			line-height: 0.3rem;
			
			
		}

}


@media (max-width: 870px) {

	.contenidoAbout{
		display: flex;
		flex-direction: column;
		
		
	}

}


@media (max-width: 605px) {



	.arriba{
		display: flex;
		flex-direction: column;
	
	}

	main{
		padding: 2rem;
		width: 85%;
	}


	
	.checks {
		
		display: flex;
		flex-direction: column;
		line-height: 0.3rem;
			
	}


}